# Secrets
.env

# Large raw data (too big for GitHub, download separately)
data/raw/

# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
